/* ESTILO BASE */
@font-face{
    /*font-family: "Roboto-Medium";*/
    /*src: url("/res/fonts/Roboto/Roboto-Medium.ttf"),*/
    /*url("../res/fonts/Roboto/Roboto-Medium.ttf");*/

    /*Para incluir mas fuentes, referenciar esta pagina:
    *
    * http://www.freejapanesefont.com/tag/commercial-use-ok/page/5/
    *
    */

    font-family: "ほのかアンティーク丸";
    src: url("/res/fonts/antique-maru/font_1_ant-maru.ttf"),
    url("../res/fonts/antique-maru/font_1_ant-maru.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    font-family: ほのかアンティーク丸 !important;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    /*background-color: #333;*/
    background-color: whitesmoke;
    color: cadetblue;
    font-weight: normal;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* FIN DE BASE */

/* DEFINICION DE COLUMNAS PARA EL GRID LAYOUT */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}
/* FIN DE DEFINICION DE COLUMNAS PARA EL GRID LAYOUT */

.center {
    margin: auto;
    width: 50%;
    /*border: 3px solid black;*/
    padding: 10px;
}

img.resize{
    width: 16px; /* you can use % */
    height: auto;
}

header{
    color: #333333;
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 25px;
}

/* ESTILO DE MENU */
#logo {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    height: auto;
    width: 72px;
}

#menu {
    /*background: url(http://4.bp.blogspot.com/-dVtgikk-kOY/UprtswP0yGI/AAAAAAAADag/Og0DtZ8t_oQ/s1600/header+base.png) no-repeat scroll top left;     background-color: none;*/
    width:100%;
    height:80px;
    box-shadow: 0px 1px 10px #5E5E5E;
    position:fixed;
    top:0px;
}

/* Style the list */
ul.menuTab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    /*border: 1px solid #f17a00;*/
    /*background-color: #f1f1f1;*/
    background-color: #5E5E5E;
    position: fixed;
    top:0;
    width: 100%;
    box-shadow: 0px 1px 10px #5E5E5E;
}

/* Float the list items side by side */
ul.menuTab li {float: left; }

/* Style the links inside the list items */
ul.menuTab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.menuTab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.menuTab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.main {
    padding: 16px;
    margin-top: 72px;
    height: 90%;
}

.mainCreateClinic {
    padding: 16px;
    width: 80%;
    background: #FFFFFF;
    margin: 60px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 10px #5E5E5E;
}

li {
    float: left;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

li.tablinks:hover {
    background-color: cadetblue;
}

li.tablogo:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    /*filter: brightness(1.0) grayscale(0) opacity(0.8);*/
    filter: grayscale(0.2) blur(1px) saturate(1.5);
}

li a {
    display: block;
    color: white;
    /*padding: 16px;*/
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* FIN DE ESTILO DE MENU */

/* ESTILO DE BOTON */

a.btn {
    display: inline-block;
    cursor:pointer;
    color: #666;
    /*background-color: lightslategray;*/
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 10px 25px;
    border-radius: 10px; /*Redondear bordes*/
    -moz-border-radius: 10px; /*Redondear bordes*/
    -webkit-border-radius: 10px; /*Redondear bordes*/
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

a.btn:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
}

a.btn:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
}

/* FIN DE ESTILO DE BOTON */

#map {
    height: 95%;
    width: 100%;
}

/* ESTILOS PARA CLINIC REVIEW */

#mapaClinica {
    height: 725px;
    width: 650px;
}

.mapaReview {
    margin-left: 10px;
    margin-right: 10px;
}

.nombreClinica {
    font-size: 32px;
    font-weight: bold;
    margin-top: -15px;
    margin-bottom: 10px;
}

.direccionClinica {
    font-size: 16px;
    margin-left: 15px;
    color: #333;
}

.infoIdioma {
    margin-left: 20px;
    color: #333;
}

.infoIndicacion {
    color: #333;
}

.infoFriendliness {
    color: #333;
}

.imagenBanderaReview {
    float: left;
    width: 59px; /* you can use % */
    height: auto;
    margin-right: 10px;
}

.labelIdioma {
    font-weight: bold;
}

.thumbUp {
    width: 18px; /* you can use % */
    height: auto;
}

.thumbDown {
    width: 18px; /* you can use % */
    height: auto;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

/* FIN DE ESTILOS PARA CLINIC REVIEW */

/* ESTILOS PARA PULGARES */

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.tUp {
    width: 18px; /* you can use % */
    height: auto;
    background-image:url(../res/img/like-color.png);
}
.tDown {
    background-image:url(../res/img/like-color.png);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.cc-selector-2 input:active +.pulgar-cc, .cc-selector input:active +.pulgar-cc{opacity: 0.9;}
.cc-selector-2 input:checked +.pulgar-cc, .cc-selector input:checked +.pulgar-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.pulgar-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:18px;
    height:18px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.1) grayscale(0.8) opacity(0.9);
}
.pulgar-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* FIN DE ESTILOS PARA PULGARES */

#infoWindowTitle {
    text-align: center;
}

/* Estilos para el star rating */

/* Image(s) */
.starbox .stars .star_holder .star {
    /*background-image: url('../res/img/5-large-333.png'); !* or any other image *!*/
    background-image: url('../res/img/5-large-sw.png'); /* or any other image */
    width: 33px; /* make sure to use your image’s dimensions here */
    height: 33px;
}

/* Colours */
/*.starbox .stars { background: #cccccc; }*/
.starbox {
    float: left;
    cursor:pointer;
}

/*.starbox .stars { background: ghostwhite; }*/
.starbox .stars { background: lightgray; }
/*.starbox .rated .stars { background: #dcdcdc; }*/
.starbox .rated .stars { background: #dcdcdc; }
/*.starbox .rated.hover .stars { background: #cccccc; }*/
.starbox .rated.hover .stars { background: #cccccc; }
/*.starbox .colorbar { background: #1e90ff; }*/
.starbox .colorbar { background: gold; }
/*.starbox .hover .colorbar { background: #ffcc1c; }*/
.starbox .hover .colorbar { background: #ffcc1c; }
/*.starbox .rated .colorbar { background: #64b2ff; }*/
.starbox .rated .colorbar { background: coral; }
/*.starbox .rated.hover .colorbar { background: #1e90ff; }*/
.starbox .rated.hover .colorbar { background: #1e90ff; }
/*.starbox .ghost { background: #a1a1a1; }*/
.starbox .ghost { background: lightslategray; }

/* Fin de estilos para el star rating */

/* ESTILOS PARA EL LOADING */

/* Para generar otros throbbers, estan estas buenas paginas:
   1) http://loading.io/
   2) http://cssload.net/
 */

#Loading
{
    display: none;
    background: rgba(35,35,35,.7) url('../res/gif/loading.gif') no-repeat 50% 50%;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
}

/* FIN DE ESTILOS PARA EL LOADING */

/*=====================*/

.divDatosClinica{
    width: 65%;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.divDatosClinica h2{
    background: #4D4D4D;
    text-transform: uppercase;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.divDatosClinica input[type="text"],
.divDatosClinica input[type="date"],
.divDatosClinica input[type="datetime"],
.divDatosClinica input[type="email"],
.divDatosClinica input[type="number"],
.divDatosClinica input[type="search"],
.divDatosClinica input[type="time"],
.divDatosClinica input[type="url"],
.divDatosClinica input[type="password"],
.divDatosClinica textarea,
.divDatosClinica select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font-size: 16px;
    height: 45px;
}
.divDatosClinica textarea{
    resize:none;
    overflow: hidden;
}
.divDatosClinica input[type="button"],
.divDatosClinica input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.divDatosClinica input[type="button"]:hover,
.divDatosClinica input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}