/* ESTILO BASE */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    background-color: #333;
    color: cadetblue;
    font-weight: normal;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* FIN DE BASE */

/* DEFINICION DE COLUMNAS PARA EL GRID LAYOUT */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

/* FIN DE DEFINICION DE COLUMNAS PARA EL GRID LAYOUT */

.center {
    margin: auto;
    width: 50%;
    /*border: 3px solid black;*/
    padding: 10px;
}

img.resize{
    width: 16px; /* you can use % */
    height: auto;
}

header{
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
}

section{
    padding-top: 10px;
    width:100%;
    height: 80%;
    /*background-color: aliceblue;*/
}

footer{
    text-align: center;
}

/* ESTILO DE BOTON */

a.btn {
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 10px 25px;
    border-radius: 10px; /*Redondear bordes*/
    -moz-border-radius: 10px; /*Redondear bordes*/
    -webkit-border-radius: 10px; /*Redondear bordes*/
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

a.btn:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
}

a.btn:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
}

/* FIN DE ESTILO DE BOTON */

#map {
    height: 95%;
    width: 95%;
}

/* ESTILOS PARA CLINIC REVIEW */

#mapaClinica {
    height: 600px;
    width: 600px;
}

.mapaReview {
    margin-left: 10px;
    margin-right: 10px;
}

.nombreClinica {
    font-size: 32px;
    font-weight: bold;
    margin-top: -15px;
    margin-bottom: 10px;
}

.direccionClinica {
    font-size: 16px;
    margin-left: 15px;
    color: white;
}

.infoIdioma {
    margin-left: 20px;
    color: white;
}

.infoIndicacion {
    color: white;
}

.infoFriendliness {
    color: white;
}

.imagenBanderaReview {
    float: left;
    width: 59px; /* you can use % */
    height: auto;
    margin-right: 10px;
}

.labelIdioma {
    font-weight: bold;
}

.thumbUp {
    width: 18px; /* you can use % */
    height: auto;
}

.thumbDown {
    width: 18px; /* you can use % */
    height: auto;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}


/* FIN DE ESTILOS PARA CLINIC REVIEW */

/* ESTILOS PARA PULGARES */

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.tUp {
    width: 18px; /* you can use % */
    height: auto;
    background-image:url(../res/img/like-color.png);
}
.tDown {
    background-image:url(../res/img/like-color.png);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.cc-selector-2 input:active +.pulgar-cc, .cc-selector input:active +.pulgar-cc{opacity: 0.9;}
.cc-selector-2 input:checked +.pulgar-cc, .cc-selector input:checked +.pulgar-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.pulgar-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:18px;
    height:18px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.pulgar-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* FIN DE ESTILOS PARA PULGARES */

#infoWindowTitle {
    text-align: center;
}

/* Estilos para el star rating */

/* Image(s) */
.starbox .stars .star_holder .star {
    background-image: url('../res/img/5-large-333.png'); /* or any other image */
    width: 33px; /* make sure to use your image’s dimensions here */
    height: 33px;
}

/* Colours */
/*.starbox .stars { background: #cccccc; }*/
.starbox {
    float: left;
}

.starbox .stars { background: ghostwhite; }
/*.starbox .rated .stars { background: #dcdcdc; }*/
.starbox .rated .stars { background: #dcdcdc; }
/*.starbox .rated.hover .stars { background: #cccccc; }*/
.starbox .rated.hover .stars { background: #cccccc; }
/*.starbox .colorbar { background: #1e90ff; }*/
.starbox .colorbar { background: gold; }
/*.starbox .hover .colorbar { background: #ffcc1c; }*/
.starbox .hover .colorbar { background: #ffcc1c; }
/*.starbox .rated .colorbar { background: #64b2ff; }*/
.starbox .rated .colorbar { background: greenyellow; }
/*.starbox .rated.hover .colorbar { background: #1e90ff; }*/
.starbox .rated.hover .colorbar { background: #1e90ff; }
/*.starbox .ghost { background: #a1a1a1; }*/
.starbox .ghost { background: lightslategray; }

/* Fin de estilos para el star rating */